@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts opcionais */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); */

:root {
  --base: 240 10% 3.9%;
  --primary: 262.1 83.3% 57.8%;
  --primary-dark: 262.1 83.3% 45%;
}

html,
body {
  @apply scroll-smooth bg-base text-white;
}

html[data-theme="light"] {
  --base: 0 0% 100%;
  --primary: 262.1 83.3% 57.8%;
  --primary-dark: 262.1 83.3% 45%;
  --tw-bg-opacity: 1;
  background-color: #fafafa;
  color: #0d0d0d;
}

html[data-theme="light"] .bg-base\/70 {
  background-color: rgba(255, 255, 255, 0.7);
}
